-- CreateEnum
CREATE TYPE "AIProvider" AS ENUM ('gemini', 'openai');

-- CreateEnum
CREATE TYPE "AffiliateStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "AnalyticsEventType" AS ENUM ('trigger', 'executed', 'failed', 'completed', 'error');

-- CreateEnum
CREATE TYPE "AnalyticsFunnelStep" AS ENUM ('started', 'processing', 'completed', 'failed');

-- CreateEnum
CREATE TYPE "AnalyticsSource" AS ENUM ('automation_rule', 'ai_agent', 'store_automation', 'smart_followup', 'webhook', 'unknown');

-- CreateEnum
CREATE TYPE "AnalyticsStatus" AS ENUM ('success', 'failure', 'pending');

-- CreateEnum
CREATE TYPE "AutomationInteractionState" AS ENUM ('WAITING', 'SUPERSEDED', 'COMPLETED', 'STALE', 'FAILED', 'PROCESSING');

-- CreateEnum
CREATE TYPE "BanStatus" AS ENUM ('CUSTOMER_REPORTED', 'EVIDENCE_PROVIDED', 'VERIFIED', 'NOT_VERIFIED');

-- CreateEnum
CREATE TYPE "CampaignFollowUpStage" AS ENUM ('SENT', 'DONE');

-- CreateEnum
CREATE TYPE "CampaignStatus" AS ENUM ('draft', 'scheduled', 'running', 'completed', 'failed');

-- CreateEnum
CREATE TYPE "CartFollowUpStage" AS ENUM ('SENT', 'AWAITING_REASON', 'DONE');

-- CreateEnum
CREATE TYPE "ConversationStatus" AS ENUM ('AUTO', 'NEEDS_HUMAN', 'HUMAN_ACTIVE');

-- CreateEnum
CREATE TYPE "DeveloperApiKeyStatus" AS ENUM ('ACTIVE', 'REVOKED');

-- CreateEnum
CREATE TYPE "DeveloperNotificationType" AS ENUM ('META_UPDATE', 'BILLING', 'SECURITY', 'SYSTEM', 'TRIAL_WARNING', 'PLAN_EXPIRING_SOON', 'PLAN_EXPIRED');

-- CreateEnum
CREATE TYPE "DeveloperPlan" AS ENUM ('TRIAL', 'DEVELOPER', 'OWNER_PLAN');

-- CreateEnum
CREATE TYPE "DeveloperStatus" AS ENUM ('PENDING_META', 'ACTIVE', 'SUSPENDED', 'TRANSFERRED');

-- CreateEnum
CREATE TYPE "DeveloperTemplateStatus" AS ENUM ('LOCAL_DRAFT', 'PENDING', 'APPROVED', 'REJECTED', 'DISABLED');

-- CreateEnum
CREATE TYPE "LeadStatus" AS ENUM ('NEW', 'CONTACTED', 'CONVERTED', 'LOST');

-- CreateEnum
CREATE TYPE "MessageDirection" AS ENUM ('inbound', 'outbound');

-- CreateEnum
CREATE TYPE "MessageSenderType" AS ENUM ('human', 'ai', 'bot', 'system');

-- CreateEnum
CREATE TYPE "MessageStatus" AS ENUM ('pending', 'sent', 'delivered', 'read', 'failed');

-- CreateEnum
CREATE TYPE "MessageType" AS ENUM ('text', 'image', 'document', 'audio', 'template', 'video', 'sticker');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('CAMPAIGN_SUCCESS', 'CAMPAIGN_FAILED', 'CAMPAIGN_PARTIAL', 'PLAN_LIMIT_REACHED', 'NEW_MESSAGE', 'STORE_AUTO_SENT', 'STORE_AUTO_FAILED', 'SUBSCRIPTION_EXPIRING', 'PAYMENT_FAILED', 'WHATSAPP_TOKEN_EXPIRING', 'AI_TOKENS_LOW', 'SUBSCRIPTION_SUCCESS', 'ORDER_CONFIRMED', 'ORDER_CANCELLED', 'AI_HANDOFF_NEEDED', 'SMART_FOLLOWUP_ALERT', 'AUTOMATION_FAILED', 'AUTOMATION_LOOP_STOPPED', 'TEAM_MEMBER_JOINED');

-- CreateEnum
CREATE TYPE "OrderCancelReasonStage" AS ENUM ('AWAITING_REASON', 'DONE');

-- CreateEnum
CREATE TYPE "OrderSource" AS ENUM ('shopify', 'easyorders', 'woocommerce');

-- CreateEnum
CREATE TYPE "OtpLogStatus" AS ENUM ('PENDING', 'SENT', 'VERIFIED', 'EXPIRED', 'FAILED');

-- CreateEnum
CREATE TYPE "PaymentRequestStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "PaymentRequestType" AS ENUM ('subscription', 'token_package', 'mcp_addon');

-- CreateEnum
CREATE TYPE "PlanTier" AS ENUM ('free', 'starter', 'pro', 'enterprise');

-- CreateEnum
CREATE TYPE "PolicyType" AS ENUM ('return_policy', 'shipping_policy', 'payment_policy', 'warranty_policy', 'privacy_policy', 'custom');

-- CreateEnum
CREATE TYPE "ProductSource" AS ENUM ('shopify', 'easyorders', 'woocommerce', 'manual');

-- CreateEnum
CREATE TYPE "ProjectStatus" AS ENUM ('ACTIVE', 'TRANSFERRED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ProtectionClaimStatus" AS ENUM ('NEEDS_REVIEW', 'ELIGIBLE', 'NOT_ELIGIBLE', 'PENDING_EVIDENCE');

-- CreateEnum
CREATE TYPE "QueueStatus" AS ENUM ('pending', 'processing', 'sent', 'failed', 'cancelled');

-- CreateEnum
CREATE TYPE "ReferralLedgerType" AS ENUM ('EARNED', 'APPLIED_TO_INVOICE', 'REVERSED', 'ADJUSTMENT');

-- CreateEnum
CREATE TYPE "ReferralStatus" AS ENUM ('PENDING', 'QUALIFIED', 'REVERSED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "ReplyType" AS ENUM ('TEXT', 'TEMPLATE', 'AI', 'INTERACTIVE_MENU');

-- CreateEnum
CREATE TYPE "RewardStatus" AS ENUM ('PENDING', 'APPROVED', 'REVERSED');

-- CreateEnum
CREATE TYPE "SalesGoal" AS ENUM ('customer_service', 'balanced', 'sales_focused');

-- CreateEnum
CREATE TYPE "ShippingFollowUpStage" AS ENUM ('SENT', 'AWAITING_RATING', 'AWAITING_PROBLEM_DETAILS', 'DONE');

-- CreateEnum
CREATE TYPE "SignupMethod" AS ENUM ('MANUAL', 'GOOGLE', 'TEAM_INVITE');

-- CreateEnum
CREATE TYPE "SmartFollowUpType" AS ENUM ('shipping', 'cart', 'order_confirm');

-- CreateEnum
CREATE TYPE "StoreAutomationType" AS ENUM ('order_confirm', 'order_shipped', 'promo', 'cart_abandon');

-- CreateEnum
CREATE TYPE "StoreType" AS ENUM ('shopify', 'easyorders', 'woocommerce');

-- CreateEnum
CREATE TYPE "SubscriptionStatus" AS ENUM ('active', 'expired', 'cancelled');

-- CreateEnum
CREATE TYPE "TeamInvitationStatus" AS ENUM ('PENDING', 'ACCEPTED', 'EXPIRED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "TemplateCategory" AS ENUM ('AUTHENTICATION', 'UTILITY', 'MARKETING');

-- CreateEnum
CREATE TYPE "TrainingRuleStatus" AS ENUM ('pending', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "TrainingRuleType" AS ENUM ('faq', 'policy', 'customer_issue', 'guardrail', 'sales_behavior');

-- CreateEnum
CREATE TYPE "TriggerType" AS ENUM ('KEYWORD', 'FIRST_MESSAGE', 'TIME_BASED');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('OWNER', 'FULL_ACCESS', 'CHAT_ONLY');

-- CreateEnum
CREATE TYPE "WaniPartnerCardStatus" AS ENUM ('pending', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "WhatsAppTokenStatus" AS ENUM ('ACTIVE', 'EXPIRING_SOON', 'EXPIRED', 'INVALID', 'UNKNOWN');

-- CreateTable
CREATE TABLE "AIAgent" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT false,
    "provider" "AIProvider" NOT NULL DEFAULT 'gemini',
    "brandName" TEXT,
    "businessDesc" TEXT,
    "productsInfo" TEXT,
    "pricingInfo" TEXT,
    "workingHours" TEXT,
    "tone" TEXT NOT NULL DEFAULT 'friendly',
    "systemPrompt" TEXT,
    "pauseMinutes" INTEGER NOT NULL DEFAULT 10,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "elevenLabsEnabled" BOOLEAN NOT NULL DEFAULT false,
    "elevenLabsApiKey" TEXT,
    "elevenLabsAgentId" TEXT,
    "languageMode" TEXT NOT NULL DEFAULT 'auto',
    "websiteButtonText" TEXT,
    "websiteUrl" TEXT,
    "handoffResumeMinutes" INTEGER DEFAULT 3,

    CONSTRAINT "AIAgent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AIGuardrail" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "noInventPrices" BOOLEAN NOT NULL DEFAULT true,
    "noInventProducts" BOOLEAN NOT NULL DEFAULT true,
    "noMentionCompetitors" BOOLEAN NOT NULL DEFAULT true,
    "noSharePersonal" BOOLEAN NOT NULL DEFAULT true,
    "strictKnowledgeOnly" BOOLEAN NOT NULL DEFAULT true,
    "alwaysHandoffComplaints" BOOLEAN NOT NULL DEFAULT true,
    "customRules" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "responseStyle" TEXT NOT NULL DEFAULT 'natural',

    CONSTRAINT "AIGuardrail_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AbandonedCart" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,
    "customerPhone" TEXT NOT NULL,
    "customerName" TEXT,
    "cartTotal" DOUBLE PRECISION,
    "cartItems" JSONB,
    "recoveryUrl" TEXT,
    "sentAt" TIMESTAMP(3),
    "recoveredAt" TIMESTAMP(3),
    "shopifyStoreId" TEXT,
    "wooCommerceStoreId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "followUpMessageId" TEXT,
    "followUpReason" TEXT,
    "followUpSentAt" TIMESTAMP(3),
    "followUpStage" "CartFollowUpStage",
    "followUpStageExpiresAt" TIMESTAMP(3),
    "sendClaimedAt" TIMESTAMP(3),

    CONSTRAINT "AbandonedCart_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Affiliate" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "code" TEXT NOT NULL,
    "name" TEXT,
    "status" "AffiliateStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Affiliate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AgentTrainingRule" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "contactId" TEXT,
    "messageId" TEXT,
    "feedback" TEXT NOT NULL,
    "contextSnapshot" JSONB,
    "type" "TrainingRuleType",
    "content" TEXT,
    "extractedData" JSONB,
    "appliesTo" TEXT,
    "status" "TrainingRuleStatus" NOT NULL DEFAULT 'pending',
    "confidence" DOUBLE PRECISION,
    "extractionModel" TEXT,
    "extractionError" TEXT,
    "appliedTable" TEXT,
    "appliedRecordId" TEXT,
    "reviewedByUserId" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AgentTrainingRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Article" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "excerpt" TEXT,
    "content" TEXT NOT NULL DEFAULT '',
    "coverImage" TEXT,
    "published" BOOLEAN NOT NULL DEFAULT false,
    "publishedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Article_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Audience" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'excel',

    CONSTRAINT "Audience_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AutomationAnalytics" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "automationRuleId" TEXT,
    "aiAgentId" TEXT,
    "source" "AnalyticsSource" NOT NULL,
    "eventType" "AnalyticsEventType" NOT NULL,
    "status" "AnalyticsStatus" NOT NULL DEFAULT 'success',
    "step" "AnalyticsFunnelStep",
    "runAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "durationMs" INTEGER,
    "success" BOOLEAN NOT NULL DEFAULT true,
    "errorCode" TEXT,
    "errorMessage" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AutomationAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AutomationInteraction" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "whatsappAccountId" TEXT NOT NULL,
    "phoneNumberId" TEXT NOT NULL,
    "automationRuleId" TEXT NOT NULL,
    "outboundMessageId" TEXT,
    "buttonSnapshot" JSONB NOT NULL,
    "state" "AutomationInteractionState" NOT NULL DEFAULT 'WAITING',
    "selectedButtonId" TEXT,
    "processedEventId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "AutomationInteraction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AutomationRule" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "triggerType" "TriggerType" NOT NULL,
    "triggerValue" TEXT,
    "replyType" "ReplyType" NOT NULL,
    "replyContent" TEXT,
    "replyMediaUrl" TEXT,
    "templateId" TEXT,
    "extraInstructions" TEXT,
    "humanKeywords" TEXT[],
    "pauseOnReply" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "interactiveConfig" JSONB,

    CONSTRAINT "AutomationRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BrandFAQ" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "answer" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BrandFAQ_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BrandPolicy" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "PolicyType" NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BrandPolicy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Campaign" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "templateId" TEXT,
    "sentCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),
    "deliveredCount" INTEGER NOT NULL DEFAULT 0,
    "failedCount" INTEGER NOT NULL DEFAULT 0,
    "readCount" INTEGER NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3),
    "status" "CampaignStatus" NOT NULL DEFAULT 'draft',
    "scheduled_at" TIMESTAMP(3),
    "queuedCount" INTEGER NOT NULL DEFAULT 0,
    "totalQueued" INTEGER NOT NULL DEFAULT 0,
    "ordersCount" INTEGER NOT NULL DEFAULT 0,
    "revenue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "trackedUrl" TEXT,
    "attributionHours" INTEGER NOT NULL DEFAULT 48,
    "templateVariables" JSONB,

    CONSTRAINT "Campaign_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CampaignFollowUpRecord" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "campaignId" TEXT NOT NULL,
    "contactId" TEXT NOT NULL,
    "messageId" TEXT NOT NULL,
    "customerPhone" TEXT NOT NULL,
    "followUpSentAt" TIMESTAMP(3),
    "followUpMessageId" TEXT,
    "followUpStage" "CampaignFollowUpStage",
    "followUpStageExpiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CampaignFollowUpRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CampaignFollowUpSetting" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "campaignId" TEXT NOT NULL,
    "templateId" TEXT,
    "isEnabled" BOOLEAN NOT NULL DEFAULT false,
    "triggerDelayDays" DOUBLE PRECISION NOT NULL DEFAULT 1,
    "replyDelayMinutes" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "texts" JSONB NOT NULL,
    "sentCount" INTEGER NOT NULL DEFAULT 0,
    "failedCount" INTEGER NOT NULL DEFAULT 0,
    "lastSentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CampaignFollowUpSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CampaignOrder" (
    "id" TEXT NOT NULL,
    "campaignId" TEXT NOT NULL,
    "storeOrderId" TEXT NOT NULL,
    "revenue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CampaignOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Contact" (
    "id" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "audienceId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name" TEXT,
    "userId" TEXT NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "isArchived" BOOLEAN NOT NULL DEFAULT false,
    "isPinned" BOOLEAN NOT NULL DEFAULT false,
    "lastMessageAt" TIMESTAMP(3),
    "notes" TEXT,
    "unreadCount" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "voiceAgentEnabled" BOOLEAN NOT NULL DEFAULT false,
    "lastAiRepliedAt" TIMESTAMP(3),
    "textAiEnabled" BOOLEAN NOT NULL DEFAULT true,
    "aiStatus" "ConversationStatus" NOT NULL DEFAULT 'AUTO',
    "handoffAt" TIMESTAMP(3),
    "handoffReason" TEXT,
    "nudgeCountInThread" INTEGER NOT NULL DEFAULT 0,
    "assignedToUserId" TEXT,

    CONSTRAINT "Contact_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Coupon" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "discountType" TEXT NOT NULL DEFAULT 'percent',
    "discountValue" DOUBLE PRECISION NOT NULL,
    "maxUses" INTEGER NOT NULL DEFAULT 1,
    "usedCount" INTEGER NOT NULL DEFAULT 0,
    "expiresAt" TIMESTAMP(3),
    "active" BOOLEAN NOT NULL DEFAULT true,
    "forPlan" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Coupon_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerIssue" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "problem" TEXT NOT NULL,
    "resolution" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerIssue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomerServiceSettings" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "generalSupportInfo" TEXT,
    "supportProcess" TEXT,
    "escalationInstructions" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomerServiceSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EasyOrdersStore" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "storeName" TEXT NOT NULL,
    "apiKey" TEXT NOT NULL,
    "webhookSecret" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastSyncAt" TIMESTAMP(3),
    "totalSynced" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "EasyOrdersStore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmailVerificationToken" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EmailVerificationToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GoogleSheetsConnection" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "audienceId" TEXT,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "tokenExpiresAt" TIMESTAMP(3),
    "spreadsheetId" TEXT,
    "spreadsheetName" TEXT,
    "sheetId" TEXT,
    "sheetName" TEXT,
    "nameColumn" TEXT,
    "phoneColumn" TEXT,
    "lastSyncAt" TIMESTAMP(3),
    "syncInterval" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GoogleSheetsConnection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lead" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "business" TEXT NOT NULL,
    "goal" TEXT NOT NULL,
    "volume" TEXT NOT NULL,
    "lang" TEXT NOT NULL DEFAULT 'ar',
    "source" TEXT,
    "status" "LeadStatus" NOT NULL DEFAULT 'NEW',
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LeadBotConfig" (
    "id" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "templateId" TEXT,
    "templateName" TEXT,
    "templateLang" TEXT NOT NULL DEFAULT 'ar',
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "sentCount" INTEGER NOT NULL DEFAULT 0,
    "lastSentLeadId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LeadBotConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Message" (
    "id" TEXT NOT NULL,
    "content" TEXT,
    "userId" TEXT NOT NULL,
    "campaignId" TEXT,
    "contactId" TEXT NOT NULL,
    "whatsappId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deletedAt" TIMESTAMP(3),
    "deliveredAt" TIMESTAMP(3),
    "error" TEXT,
    "mediaUrl" TEXT,
    "readAt" TIMESTAMP(3),
    "sentAt" TIMESTAMP(3),
    "type" "MessageType" NOT NULL DEFAULT 'text',
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "status" "MessageStatus" NOT NULL DEFAULT 'pending',
    "direction" "MessageDirection" NOT NULL DEFAULT 'outbound',
    "senderType" "MessageSenderType" NOT NULL DEFAULT 'human',
    "reactions" JSONB DEFAULT '[]',
    "replyToMessageId" TEXT,
    "automationRuleId" TEXT,
    "senderUserId" TEXT,

    CONSTRAINT "Message_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MessageQueue" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "whatsappAccountId" TEXT NOT NULL,
    "phoneNumberId" TEXT NOT NULL,
    "toPhone" TEXT NOT NULL,
    "contactId" TEXT,
    "messageType" TEXT NOT NULL DEFAULT 'template',
    "templateName" TEXT,
    "templateLang" TEXT NOT NULL DEFAULT 'ar',
    "templateVars" JSONB,
    "content" TEXT,
    "campaignId" TEXT,
    "status" "QueueStatus" NOT NULL DEFAULT 'pending',
    "scheduledAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processedAt" TIMESTAMP(3),
    "sentAt" TIMESTAMP(3),
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "maxAttempts" INTEGER NOT NULL DEFAULT 3,
    "nextRetryAt" TIMESTAMP(3),
    "whatsappMsgId" TEXT,
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "existingMessageId" TEXT,
    "replyToWhatsappId" TEXT,

    CONSTRAINT "MessageQueue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "link" TEXT,
    "meta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordResetToken" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentRequest" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "PaymentRequestType" NOT NULL,
    "planSlug" TEXT,
    "cycle" TEXT,
    "packageId" TEXT,
    "productName" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'EGP',
    "paymentMethod" TEXT,
    "status" "PaymentRequestStatus" NOT NULL DEFAULT 'PENDING',
    "requestedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PaymentRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "source" "ProductSource" NOT NULL,
    "externalId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "price" DOUBLE PRECISION,
    "compareAtPrice" DOUBLE PRECISION,
    "currency" TEXT NOT NULL DEFAULT 'EGP',
    "images" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "variants" JSONB,
    "stock" INTEGER,
    "url" TEXT,
    "category" TEXT,
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "searchText" TEXT NOT NULL,
    "lastSyncedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "relatedProductIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "aiNotes" TEXT,
    "aiKeywords" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "aiSalesInstructions" TEXT,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductSyncLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "source" "ProductSource" NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'success',
    "productsSynced" INTEGER NOT NULL DEFAULT 0,
    "errorsCount" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "ProductSyncLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProtectionAuditLog" (
    "id" TEXT NOT NULL,
    "claimId" TEXT NOT NULL,
    "adminUserId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "result" TEXT,
    "details" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProtectionAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProtectionClaim" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "whatsappAccountId" TEXT NOT NULL,
    "phoneNumber" TEXT NOT NULL,
    "reportedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "banDetectedAt" TIMESTAMP(3) NOT NULL,
    "status" "ProtectionClaimStatus" NOT NULL DEFAULT 'NEEDS_REVIEW',
    "refundAmount" DOUBLE PRECISION,
    "currency" TEXT NOT NULL DEFAULT 'EGP',
    "refundStatus" TEXT NOT NULL DEFAULT 'NONE',
    "reviewedBy" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "decisionReason" TEXT,
    "adminNotes" TEXT,
    "customerNotes" TEXT,
    "evidenceSnapshot" JSONB,
    "evidenceFiles" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "banStatus" "BanStatus" NOT NULL DEFAULT 'CUSTOMER_REPORTED',
    "calculatedRefund" DOUBLE PRECISION,
    "overrideRefund" DOUBLE PRECISION,
    "overrideReason" TEXT,

    CONSTRAINT "ProtectionClaim_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PushSubscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "endpoint" TEXT NOT NULL,
    "p256dh" TEXT NOT NULL,
    "auth" TEXT NOT NULL,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PushSubscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Referral" (
    "id" TEXT NOT NULL,
    "affiliateId" TEXT NOT NULL,
    "referredUserId" TEXT NOT NULL,
    "status" "ReferralStatus" NOT NULL DEFAULT 'PENDING',
    "clickedAt" TIMESTAMP(3),
    "signedUpAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "qualifiedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Referral_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReferralLedgerEntry" (
    "id" TEXT NOT NULL,
    "affiliateId" TEXT NOT NULL,
    "type" "ReferralLedgerType" NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL,
    "balanceAfter" DECIMAL(10,2) NOT NULL,
    "description" TEXT,
    "referenceId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReferralLedgerEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReferralReward" (
    "id" TEXT NOT NULL,
    "affiliateId" TEXT NOT NULL,
    "referralId" TEXT NOT NULL,
    "referredUserId" TEXT NOT NULL,
    "subscriptionId" TEXT,
    "paymentInvoiceId" TEXT,
    "baseAmount" DECIMAL(10,2) NOT NULL,
    "rewardAmount" DECIMAL(10,2) NOT NULL,
    "status" "RewardStatus" NOT NULL DEFAULT 'APPROVED',
    "appliedAt" TIMESTAMP(3),
    "reversalReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "rate" DECIMAL(5,4) NOT NULL,

    CONSTRAINT "ReferralReward_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SalesBehaviorSettings" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "goal" "SalesGoal" NOT NULL DEFAULT 'balanced',
    "suggestAlternatives" BOOLEAN NOT NULL DEFAULT true,
    "suggestUpsell" BOOLEAN NOT NULL DEFAULT true,
    "suggestCrossSell" BOOLEAN NOT NULL DEFAULT false,
    "suggestDiscounts" BOOLEAN NOT NULL DEFAULT false,
    "maxSuggestedProducts" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SalesBehaviorSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ShopifyStore" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "storeName" TEXT NOT NULL,
    "accessToken" TEXT,
    "scope" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ShopifyStore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SmartFollowUpSetting" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "SmartFollowUpType" NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT false,
    "triggerDelayDays" INTEGER NOT NULL DEFAULT 3,
    "replyDelayMinutes" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "texts" JSONB NOT NULL,
    "sentCount" INTEGER NOT NULL DEFAULT 0,
    "failedCount" INTEGER NOT NULL DEFAULT 0,
    "lastSentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SmartFollowUpSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StoreAutomation" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "StoreAutomationType" NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT false,
    "templateId" TEXT,
    "sentCount" INTEGER NOT NULL DEFAULT 0,
    "failedCount" INTEGER NOT NULL DEFAULT 0,
    "lastSentAt" TIMESTAMP(3),
    "shopifyStoreId" TEXT,
    "easyOrdersStoreId" TEXT,
    "wooCommerceStoreId" TEXT,
    "templateVariables" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "delayMinutes" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "StoreAutomation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StoreOrder" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,
    "orderNumber" TEXT,
    "customerName" TEXT,
    "customerPhone" TEXT NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'EGP',
    "status" TEXT NOT NULL DEFAULT 'pending',
    "rawData" JSONB,
    "contactId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "easyOrdersStoreId" TEXT,
    "orderedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "shopifyStoreId" TEXT,
    "wooCommerceStoreId" TEXT,
    "source" "OrderSource" NOT NULL,
    "total" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "confirmationMessageId" TEXT,
    "followUpMessageId" TEXT,
    "followUpRating" INTEGER,
    "followUpSentAt" TIMESTAMP(3),
    "followUpStage" "ShippingFollowUpStage",
    "followUpStageExpiresAt" TIMESTAMP(3),
    "shippedAt" TIMESTAMP(3),
    "shippedMessageId" TEXT,
    "cancelReason" TEXT,
    "cancelReasonExpiresAt" TIMESTAMP(3),
    "cancelReasonMessageId" TEXT,
    "cancelReasonStage" "OrderCancelReasonStage",
    "confirmationClaimedAt" TIMESTAMP(3),

    CONSTRAINT "StoreOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "plan" "PlanTier" NOT NULL DEFAULT 'free',
    "status" "SubscriptionStatus" NOT NULL DEFAULT 'active',
    "isBetaUser" BOOLEAN NOT NULL DEFAULT false,
    "campaignsUsedThisMonth" INTEGER NOT NULL DEFAULT 0,
    "mcpCommandsUsedThisMonth" INTEGER NOT NULL DEFAULT 0,
    "periodResetAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "aiTokensUsedThisMonth" INTEGER NOT NULL DEFAULT 0,
    "aiTokensBonusBalance" INTEGER NOT NULL DEFAULT 0,
    "currentPeriodStart" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "currentPeriodEnd" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "expiryWarningSentAt" TIMESTAMP(3),
    "aiTokensBonusExpiresAt" TIMESTAMP(3),

    CONSTRAINT "Subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TeamInvitation" (
    "id" TEXT NOT NULL,
    "inviterId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'CHAT_ONLY',
    "codeHash" TEXT NOT NULL,
    "status" "TeamInvitationStatus" NOT NULL DEFAULT 'PENDING',
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "lastSentAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sendCount" INTEGER NOT NULL DEFAULT 1,
    "acceptedAt" TIMESTAMP(3),
    "cancelledAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TeamInvitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Template" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "metaId" TEXT NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'MARKETING',
    "language" TEXT NOT NULL DEFAULT 'ar',
    "headerType" TEXT,
    "headerText" TEXT,
    "footer" TEXT,
    "buttons" JSONB,
    "rejectedReason" TEXT,
    "components" JSONB,

    CONSTRAINT "Template_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Testimonial" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "brandName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "content" TEXT NOT NULL,
    "approved" BOOLEAN NOT NULL DEFAULT false,
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Testimonial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrackedClick" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "campaignId" TEXT NOT NULL,
    "contactId" TEXT,
    "token" TEXT NOT NULL,
    "targetUrl" TEXT NOT NULL,
    "clickedAt" TIMESTAMP(3),
    "isClicked" BOOLEAN NOT NULL DEFAULT false,
    "attributionExpiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TrackedClick_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "phone" TEXT,
    "password" TEXT,
    "image" TEXT,
    "emailVerified" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "apiKey" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'OWNER',
    "inviteCode" TEXT,
    "parentId" TEXT,
    "workspaceId" TEXT,
    "isSuper" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedBy" TEXT,
    "brandName" TEXT,
    "businessDesc" TEXT,
    "productsInfo" TEXT,
    "pricingInfo" TEXT,
    "workingHours" TEXT,
    "aiTone" TEXT NOT NULL DEFAULT 'friendly',
    "onboardingCompleted" BOOLEAN NOT NULL DEFAULT false,
    "signupMethod" "SignupMethod" NOT NULL DEFAULT 'MANUAL',

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WaniPartnerCard" (
    "id" TEXT NOT NULL,
    "template" INTEGER NOT NULL DEFAULT 1,
    "brandName" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "tagline" TEXT NOT NULL,
    "ctaText" TEXT NOT NULL,
    "ctaLink" TEXT NOT NULL,
    "image" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "order" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT NOT NULL,
    "status" "WaniPartnerCardStatus" NOT NULL DEFAULT 'pending',
    "rejectionReason" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "reviewedBy" TEXT,

    CONSTRAINT "WaniPartnerCard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebhookLog" (
    "id" TEXT NOT NULL,
    "payload" TEXT NOT NULL,
    "processed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT,

    CONSTRAINT "WebhookLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebsiteCrawlSettings" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT false,
    "rootUrl" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WebsiteCrawlSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebsiteKnowledgeChunk" (
    "id" TEXT NOT NULL,
    "pageId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "searchText" TEXT NOT NULL,
    "position" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WebsiteKnowledgeChunk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebsitePage" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "title" TEXT,
    "contentHash" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastCrawledAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WebsitePage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WhatsAppAccount" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "accessToken" TEXT NOT NULL,
    "phoneNumberId" TEXT NOT NULL,
    "wabaId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "backoffCount" INTEGER NOT NULL DEFAULT 0,
    "backoffUntil" TIMESTAMP(3),
    "dailyResetAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dailySentCount" INTEGER NOT NULL DEFAULT 0,
    "messagingTier" INTEGER NOT NULL DEFAULT 1,
    "tokenStatus" "WhatsAppTokenStatus" NOT NULL DEFAULT 'UNKNOWN',
    "tokenExpiresAt" TIMESTAMP(3),
    "lastTokenCheckAt" TIMESTAMP(3),
    "tokenDataAccessExpiresAt" TIMESTAMP(3),
    "tokenWarning7SentAt" TIMESTAMP(3),
    "tokenWarning3SentAt" TIMESTAMP(3),
    "tokenWarning1SentAt" TIMESTAMP(3),
    "tokenExpiredNotifiedAt" TIMESTAMP(3),
    "tokenInvalidNotifiedAt" TIMESTAMP(3),

    CONSTRAINT "WhatsAppAccount_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WooCommerceStore" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "storeName" TEXT NOT NULL,
    "storeUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "totalSynced" INTEGER NOT NULL DEFAULT 0,
    "lastSyncAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "consumerKey" TEXT,
    "consumerSecret" TEXT,
    "isConnected" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "WooCommerceStore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_api_keys" (
    "id" TEXT NOT NULL,
    "keyHash" TEXT NOT NULL,
    "keyPrefix" TEXT NOT NULL,
    "name" TEXT,
    "status" "DeveloperApiKeyStatus" NOT NULL DEFAULT 'ACTIVE',
    "lastUsedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revokedAt" TIMESTAMP(3),
    "projectId" TEXT NOT NULL,

    CONSTRAINT "developer_api_keys_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_meta_connections" (
    "id" TEXT NOT NULL,
    "accessToken" TEXT NOT NULL,
    "phoneNumberId" TEXT NOT NULL,
    "wabaId" TEXT NOT NULL,
    "displayPhone" TEXT NOT NULL,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "connectedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "projectId" TEXT NOT NULL,

    CONSTRAINT "developer_meta_connections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_notifications" (
    "id" TEXT NOT NULL,
    "developerId" TEXT NOT NULL,
    "type" "DeveloperNotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "link" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "developer_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_otp_templates" (
    "id" TEXT NOT NULL,
    "metaTemplateId" TEXT,
    "name" TEXT NOT NULL,
    "language" TEXT NOT NULL DEFAULT 'ar',
    "category" "TemplateCategory" NOT NULL DEFAULT 'AUTHENTICATION',
    "status" "DeveloperTemplateStatus" NOT NULL DEFAULT 'LOCAL_DRAFT',
    "headerType" TEXT,
    "headerText" TEXT,
    "body" TEXT NOT NULL,
    "bodyExample" TEXT,
    "footer" TEXT,
    "rejectedReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "projectId" TEXT NOT NULL,

    CONSTRAINT "developer_otp_templates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_password_reset_tokens" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "developerId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "developer_password_reset_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_project_invites" (
    "id" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "codeHash" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "acceptedAt" TIMESTAMP(3),

    CONSTRAINT "developer_project_invites_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_projects" (
    "id" TEXT NOT NULL,
    "developerId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "status" "ProjectStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "transferredToUserId" TEXT,
    "transferredAt" TIMESTAMP(3),
    "developerRemovedAt" TIMESTAMP(3),
    "ownerId" TEXT,
    "plan" "DeveloperPlan" NOT NULL DEFAULT 'TRIAL',
    "planRenewsAt" TIMESTAMP(3),
    "planStartedAt" TIMESTAMP(3),
    "trialEndsAt" TIMESTAMP(3),
    "trialMessagesUsed" INTEGER NOT NULL DEFAULT 0,
    "trialStartedAt" TIMESTAMP(3),
    "trialWarningNotifiedAt" TIMESTAMP(3),
    "ownerWelcomeSeenAt" TIMESTAMP(3),
    "planExpiredNotifiedAt" TIMESTAMP(3),
    "planExpiringNotifiedAt" TIMESTAMP(3),

    CONSTRAINT "developer_projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "developer_users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "status" "DeveloperStatus" NOT NULL DEFAULT 'PENDING_META',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "developer_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "otp_logs" (
    "id" TEXT NOT NULL,
    "developerId" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "status" "OtpLogStatus" NOT NULL DEFAULT 'PENDING',
    "metaMessageId" TEXT,
    "error" TEXT,
    "sentAt" TIMESTAMP(3),
    "verifiedAt" TIMESTAMP(3),
    "expiredAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "projectId" TEXT NOT NULL,

    CONSTRAINT "otp_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "AIAgent_userId_key" ON "AIAgent"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AIGuardrail_userId_key" ON "AIGuardrail"("userId" ASC);

-- CreateIndex
CREATE INDEX "AbandonedCart_customerPhone_userId_idx" ON "AbandonedCart"("customerPhone" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "AbandonedCart_followUpStage_idx" ON "AbandonedCart"("followUpStage" ASC);

-- CreateIndex
CREATE INDEX "AbandonedCart_sendClaimedAt_sentAt_idx" ON "AbandonedCart"("sendClaimedAt" ASC, "sentAt" ASC);

-- CreateIndex
CREATE INDEX "AbandonedCart_shopifyStoreId_idx" ON "AbandonedCart"("shopifyStoreId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AbandonedCart_source_externalId_userId_key" ON "AbandonedCart"("source" ASC, "externalId" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "AbandonedCart_userId_followUpMessageId_idx" ON "AbandonedCart"("userId" ASC, "followUpMessageId" ASC);

-- CreateIndex
CREATE INDEX "AbandonedCart_userId_idx" ON "AbandonedCart"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider" ASC, "providerAccountId" ASC);

-- CreateIndex
CREATE INDEX "Account_userId_idx" ON "Account"("userId" ASC);

-- CreateIndex
CREATE INDEX "Affiliate_code_idx" ON "Affiliate"("code" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Affiliate_code_key" ON "Affiliate"("code" ASC);

-- CreateIndex
CREATE INDEX "Affiliate_status_idx" ON "Affiliate"("status" ASC);

-- CreateIndex
CREATE INDEX "Affiliate_userId_idx" ON "Affiliate"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Affiliate_userId_key" ON "Affiliate"("userId" ASC);

-- CreateIndex
CREATE INDEX "AgentTrainingRule_contactId_idx" ON "AgentTrainingRule"("contactId" ASC);

-- CreateIndex
CREATE INDEX "AgentTrainingRule_userId_idx" ON "AgentTrainingRule"("userId" ASC);

-- CreateIndex
CREATE INDEX "AgentTrainingRule_userId_status_idx" ON "AgentTrainingRule"("userId" ASC, "status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Article_slug_key" ON "Article"("slug" ASC);

-- CreateIndex
CREATE INDEX "Audience_userId_idx" ON "Audience"("userId" ASC);

-- CreateIndex
CREATE INDEX "AutomationAnalytics_aiAgentId_runAt_idx" ON "AutomationAnalytics"("aiAgentId" ASC, "runAt" ASC);

-- CreateIndex
CREATE INDEX "AutomationAnalytics_automationRuleId_runAt_idx" ON "AutomationAnalytics"("automationRuleId" ASC, "runAt" ASC);

-- CreateIndex
CREATE INDEX "AutomationAnalytics_eventType_idx" ON "AutomationAnalytics"("eventType" ASC);

-- CreateIndex
CREATE INDEX "AutomationAnalytics_status_idx" ON "AutomationAnalytics"("status" ASC);

-- CreateIndex
CREATE INDEX "AutomationAnalytics_step_idx" ON "AutomationAnalytics"("step" ASC);

-- CreateIndex
CREATE INDEX "AutomationAnalytics_userId_runAt_idx" ON "AutomationAnalytics"("userId" ASC, "runAt" ASC);

-- CreateIndex
CREATE INDEX "AutomationAnalytics_userId_source_idx" ON "AutomationAnalytics"("userId" ASC, "source" ASC);

-- CreateIndex
CREATE INDEX "AutomationInteraction_automationRuleId_idx" ON "AutomationInteraction"("automationRuleId" ASC);

-- CreateIndex
CREATE INDEX "AutomationInteraction_contactId_state_createdAt_idx" ON "AutomationInteraction"("contactId" ASC, "state" ASC, "createdAt" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AutomationInteraction_processedEventId_key" ON "AutomationInteraction"("processedEventId" ASC);

-- CreateIndex
CREATE INDEX "AutomationInteraction_userId_contactId_state_idx" ON "AutomationInteraction"("userId" ASC, "contactId" ASC, "state" ASC);

-- CreateIndex
CREATE INDEX "AutomationInteraction_whatsappAccountId_phoneNumberId_idx" ON "AutomationInteraction"("whatsappAccountId" ASC, "phoneNumberId" ASC);

-- CreateIndex
CREATE INDEX "AutomationRule_triggerType_idx" ON "AutomationRule"("triggerType" ASC);

-- CreateIndex
CREATE INDEX "AutomationRule_userId_isEnabled_idx" ON "AutomationRule"("userId" ASC, "isEnabled" ASC);

-- CreateIndex
CREATE INDEX "AutomationRule_userId_triggerType_idx" ON "AutomationRule"("userId" ASC, "triggerType" ASC);

-- CreateIndex
CREATE INDEX "BrandFAQ_userId_idx" ON "BrandFAQ"("userId" ASC);

-- CreateIndex
CREATE INDEX "BrandPolicy_userId_idx" ON "BrandPolicy"("userId" ASC);

-- CreateIndex
CREATE INDEX "Campaign_scheduled_at_idx" ON "Campaign"("scheduled_at" ASC);

-- CreateIndex
CREATE INDEX "Campaign_status_idx" ON "Campaign"("status" ASC);

-- CreateIndex
CREATE INDEX "Campaign_userId_idx" ON "Campaign"("userId" ASC);

-- CreateIndex
CREATE INDEX "CampaignFollowUpRecord_customerPhone_userId_idx" ON "CampaignFollowUpRecord"("customerPhone" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "CampaignFollowUpRecord_followUpStage_idx" ON "CampaignFollowUpRecord"("followUpStage" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CampaignFollowUpRecord_messageId_key" ON "CampaignFollowUpRecord"("messageId" ASC);

-- CreateIndex
CREATE INDEX "CampaignFollowUpRecord_userId_followUpMessageId_idx" ON "CampaignFollowUpRecord"("userId" ASC, "followUpMessageId" ASC);

-- CreateIndex
CREATE INDEX "CampaignFollowUpRecord_userId_idx" ON "CampaignFollowUpRecord"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CampaignFollowUpSetting_userId_campaignId_key" ON "CampaignFollowUpSetting"("userId" ASC, "campaignId" ASC);

-- CreateIndex
CREATE INDEX "CampaignFollowUpSetting_userId_idx" ON "CampaignFollowUpSetting"("userId" ASC);

-- CreateIndex
CREATE INDEX "CampaignOrder_campaignId_idx" ON "CampaignOrder"("campaignId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CampaignOrder_storeOrderId_key" ON "CampaignOrder"("storeOrderId" ASC);

-- CreateIndex
CREATE INDEX "Contact_assignedToUserId_idx" ON "Contact"("assignedToUserId" ASC);

-- CreateIndex
CREATE INDEX "Contact_lastMessageAt_idx" ON "Contact"("lastMessageAt" ASC);

-- CreateIndex
CREATE INDEX "Contact_phone_idx" ON "Contact"("phone" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Contact_phone_userId_key" ON "Contact"("phone" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "Contact_userId_idx" ON "Contact"("userId" ASC);

-- CreateIndex
CREATE INDEX "Coupon_active_idx" ON "Coupon"("active" ASC);

-- CreateIndex
CREATE INDEX "Coupon_code_idx" ON "Coupon"("code" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Coupon_code_key" ON "Coupon"("code" ASC);

-- CreateIndex
CREATE INDEX "CustomerIssue_userId_idx" ON "CustomerIssue"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CustomerServiceSettings_userId_key" ON "CustomerServiceSettings"("userId" ASC);

-- CreateIndex
CREATE INDEX "EasyOrdersStore_userId_idx" ON "EasyOrdersStore"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "EasyOrdersStore_userId_key" ON "EasyOrdersStore"("userId" ASC);

-- CreateIndex
CREATE INDEX "EmailVerificationToken_token_idx" ON "EmailVerificationToken"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "EmailVerificationToken_token_key" ON "EmailVerificationToken"("token" ASC);

-- CreateIndex
CREATE INDEX "EmailVerificationToken_userId_idx" ON "EmailVerificationToken"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "GoogleSheetsConnection_audienceId_key" ON "GoogleSheetsConnection"("audienceId" ASC);

-- CreateIndex
CREATE INDEX "GoogleSheetsConnection_userId_idx" ON "GoogleSheetsConnection"("userId" ASC);

-- CreateIndex
CREATE INDEX "GoogleSheetsConnection_userId_syncInterval_lastSyncAt_idx" ON "GoogleSheetsConnection"("userId" ASC, "syncInterval" ASC, "lastSyncAt" ASC);

-- CreateIndex
CREATE INDEX "Lead_createdAt_idx" ON "Lead"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "Lead_status_idx" ON "Lead"("status" ASC);

-- CreateIndex
CREATE INDEX "LeadBotConfig_ownerId_idx" ON "LeadBotConfig"("ownerId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "LeadBotConfig_ownerId_key" ON "LeadBotConfig"("ownerId" ASC);

-- CreateIndex
CREATE INDEX "Message_automationRuleId_idx" ON "Message"("automationRuleId" ASC);

-- CreateIndex
CREATE INDEX "Message_campaignId_idx" ON "Message"("campaignId" ASC);

-- CreateIndex
CREATE INDEX "Message_contactId_createdAt_idx" ON "Message"("contactId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "Message_contactId_idx" ON "Message"("contactId" ASC);

-- CreateIndex
CREATE INDEX "Message_createdAt_idx" ON "Message"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "Message_senderType_idx" ON "Message"("senderType" ASC);

-- CreateIndex
CREATE INDEX "Message_senderUserId_idx" ON "Message"("senderUserId" ASC);

-- CreateIndex
CREATE INDEX "Message_status_idx" ON "Message"("status" ASC);

-- CreateIndex
CREATE INDEX "Message_userId_idx" ON "Message"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Message_whatsappId_key" ON "Message"("whatsappId" ASC);

-- CreateIndex
CREATE INDEX "MessageQueue_campaignId_idx" ON "MessageQueue"("campaignId" ASC);

-- CreateIndex
CREATE INDEX "MessageQueue_phoneNumberId_status_idx" ON "MessageQueue"("phoneNumberId" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "MessageQueue_status_nextRetryAt_idx" ON "MessageQueue"("status" ASC, "nextRetryAt" ASC);

-- CreateIndex
CREATE INDEX "MessageQueue_status_scheduledAt_idx" ON "MessageQueue"("status" ASC, "scheduledAt" ASC);

-- CreateIndex
CREATE INDEX "MessageQueue_userId_status_idx" ON "MessageQueue"("userId" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "Notification_userId_createdAt_idx" ON "Notification"("userId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "Notification_userId_isRead_createdAt_idx" ON "Notification"("userId" ASC, "isRead" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "PasswordResetToken_token_idx" ON "PasswordResetToken"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "PasswordResetToken_token_key" ON "PasswordResetToken"("token" ASC);

-- CreateIndex
CREATE INDEX "PasswordResetToken_userId_idx" ON "PasswordResetToken"("userId" ASC);

-- CreateIndex
CREATE INDEX "PaymentRequest_createdAt_idx" ON "PaymentRequest"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "PaymentRequest_status_idx" ON "PaymentRequest"("status" ASC);

-- CreateIndex
CREATE INDEX "PaymentRequest_userId_idx" ON "PaymentRequest"("userId" ASC);

-- CreateIndex
CREATE INDEX "PaymentRequest_userId_status_idx" ON "PaymentRequest"("userId" ASC, "status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Product_source_externalId_userId_key" ON "Product"("source" ASC, "externalId" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "Product_userId_isActive_idx" ON "Product"("userId" ASC, "isActive" ASC);

-- CreateIndex
CREATE INDEX "Product_userId_source_idx" ON "Product"("userId" ASC, "source" ASC);

-- CreateIndex
CREATE INDEX "ProductSyncLog_userId_source_idx" ON "ProductSyncLog"("userId" ASC, "source" ASC);

-- CreateIndex
CREATE INDEX "ProductSyncLog_userId_startedAt_idx" ON "ProductSyncLog"("userId" ASC, "startedAt" ASC);

-- CreateIndex
CREATE INDEX "ProtectionAuditLog_adminUserId_idx" ON "ProtectionAuditLog"("adminUserId" ASC);

-- CreateIndex
CREATE INDEX "ProtectionAuditLog_claimId_idx" ON "ProtectionAuditLog"("claimId" ASC);

-- CreateIndex
CREATE INDEX "ProtectionAuditLog_createdAt_idx" ON "ProtectionAuditLog"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "ProtectionClaim_createdAt_idx" ON "ProtectionClaim"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "ProtectionClaim_phoneNumber_idx" ON "ProtectionClaim"("phoneNumber" ASC);

-- CreateIndex
CREATE INDEX "ProtectionClaim_status_idx" ON "ProtectionClaim"("status" ASC);

-- CreateIndex
CREATE INDEX "ProtectionClaim_userId_idx" ON "ProtectionClaim"("userId" ASC);

-- CreateIndex
CREATE INDEX "ProtectionClaim_whatsappAccountId_idx" ON "ProtectionClaim"("whatsappAccountId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "PushSubscription_endpoint_key" ON "PushSubscription"("endpoint" ASC);

-- CreateIndex
CREATE INDEX "PushSubscription_userId_idx" ON "PushSubscription"("userId" ASC);

-- CreateIndex
CREATE INDEX "Referral_affiliateId_idx" ON "Referral"("affiliateId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Referral_referredUserId_key" ON "Referral"("referredUserId" ASC);

-- CreateIndex
CREATE INDEX "Referral_status_idx" ON "Referral"("status" ASC);

-- CreateIndex
CREATE INDEX "ReferralLedgerEntry_affiliateId_createdAt_idx" ON "ReferralLedgerEntry"("affiliateId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "ReferralReward_affiliateId_idx" ON "ReferralReward"("affiliateId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ReferralReward_paymentInvoiceId_key" ON "ReferralReward"("paymentInvoiceId" ASC);

-- CreateIndex
CREATE INDEX "ReferralReward_referralId_idx" ON "ReferralReward"("referralId" ASC);

-- CreateIndex
CREATE INDEX "ReferralReward_status_idx" ON "ReferralReward"("status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "SalesBehaviorSettings_userId_key" ON "SalesBehaviorSettings"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ShopifyStore_shop_key" ON "ShopifyStore"("shop" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ShopifyStore_userId_key" ON "ShopifyStore"("userId" ASC);

-- CreateIndex
CREATE INDEX "SmartFollowUpSetting_userId_idx" ON "SmartFollowUpSetting"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "SmartFollowUpSetting_userId_type_key" ON "SmartFollowUpSetting"("userId" ASC, "type" ASC);

-- CreateIndex
CREATE INDEX "StoreAutomation_easyOrdersStoreId_idx" ON "StoreAutomation"("easyOrdersStoreId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StoreAutomation_easyOrdersStoreId_type_key" ON "StoreAutomation"("easyOrdersStoreId" ASC, "type" ASC);

-- CreateIndex
CREATE INDEX "StoreAutomation_shopifyStoreId_idx" ON "StoreAutomation"("shopifyStoreId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StoreAutomation_shopifyStoreId_type_key" ON "StoreAutomation"("shopifyStoreId" ASC, "type" ASC);

-- CreateIndex
CREATE INDEX "StoreAutomation_userId_idx" ON "StoreAutomation"("userId" ASC);

-- CreateIndex
CREATE INDEX "StoreAutomation_wooCommerceStoreId_idx" ON "StoreAutomation"("wooCommerceStoreId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StoreAutomation_wooCommerceStoreId_type_key" ON "StoreAutomation"("wooCommerceStoreId" ASC, "type" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_cancelReasonStage_idx" ON "StoreOrder"("cancelReasonStage" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_confirmationClaimedAt_idx" ON "StoreOrder"("confirmationClaimedAt" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_contactId_idx" ON "StoreOrder"("contactId" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_customerPhone_userId_idx" ON "StoreOrder"("customerPhone" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_followUpStage_idx" ON "StoreOrder"("followUpStage" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_orderedAt_idx" ON "StoreOrder"("orderedAt" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_shippedAt_shippedMessageId_idx" ON "StoreOrder"("shippedAt" ASC, "shippedMessageId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StoreOrder_source_externalId_userId_key" ON "StoreOrder"("source" ASC, "externalId" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_source_userId_idx" ON "StoreOrder"("source" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_userId_confirmationMessageId_idx" ON "StoreOrder"("userId" ASC, "confirmationMessageId" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_userId_followUpMessageId_idx" ON "StoreOrder"("userId" ASC, "followUpMessageId" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_userId_idx" ON "StoreOrder"("userId" ASC);

-- CreateIndex
CREATE INDEX "StoreOrder_wooCommerceStoreId_idx" ON "StoreOrder"("wooCommerceStoreId" ASC);

-- CreateIndex
CREATE INDEX "Subscription_plan_idx" ON "Subscription"("plan" ASC);

-- CreateIndex
CREATE INDEX "Subscription_userId_idx" ON "Subscription"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Subscription_userId_key" ON "Subscription"("userId" ASC);

-- CreateIndex
CREATE INDEX "TeamInvitation_email_status_idx" ON "TeamInvitation"("email" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "TeamInvitation_expiresAt_idx" ON "TeamInvitation"("expiresAt" ASC);

-- CreateIndex
CREATE INDEX "TeamInvitation_inviterId_status_idx" ON "TeamInvitation"("inviterId" ASC, "status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Template_metaId_userId_key" ON "Template"("metaId" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "Template_status_idx" ON "Template"("status" ASC);

-- CreateIndex
CREATE INDEX "Template_userId_idx" ON "Template"("userId" ASC);

-- CreateIndex
CREATE INDEX "Testimonial_approved_idx" ON "Testimonial"("approved" ASC);

-- CreateIndex
CREATE INDEX "Testimonial_createdAt_idx" ON "Testimonial"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "TrackedClick_attributionExpiresAt_idx" ON "TrackedClick"("attributionExpiresAt" ASC);

-- CreateIndex
CREATE INDEX "TrackedClick_campaignId_idx" ON "TrackedClick"("campaignId" ASC);

-- CreateIndex
CREATE INDEX "TrackedClick_contactId_idx" ON "TrackedClick"("contactId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TrackedClick_token_key" ON "TrackedClick"("token" ASC);

-- CreateIndex
CREATE INDEX "TrackedClick_userId_isClicked_idx" ON "TrackedClick"("userId" ASC, "isClicked" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_apiKey_key" ON "User"("apiKey" ASC);

-- CreateIndex
CREATE INDEX "User_deletedAt_idx" ON "User"("deletedAt" ASC);

-- CreateIndex
CREATE INDEX "User_email_idx" ON "User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_inviteCode_key" ON "User"("inviteCode" ASC);

-- CreateIndex
CREATE INDEX "User_parentId_idx" ON "User"("parentId" ASC);

-- CreateIndex
CREATE INDEX "User_workspaceId_idx" ON "User"("workspaceId" ASC);

-- CreateIndex
CREATE INDEX "WaniPartnerCard_active_idx" ON "WaniPartnerCard"("active" ASC);

-- CreateIndex
CREATE INDEX "WaniPartnerCard_order_idx" ON "WaniPartnerCard"("order" ASC);

-- CreateIndex
CREATE INDEX "WaniPartnerCard_status_idx" ON "WaniPartnerCard"("status" ASC);

-- CreateIndex
CREATE INDEX "WaniPartnerCard_userId_idx" ON "WaniPartnerCard"("userId" ASC);

-- CreateIndex
CREATE INDEX "WebhookLog_createdAt_idx" ON "WebhookLog"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "WebhookLog_processed_idx" ON "WebhookLog"("processed" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "WebsiteCrawlSettings_userId_key" ON "WebsiteCrawlSettings"("userId" ASC);

-- CreateIndex
CREATE INDEX "WebsiteKnowledgeChunk_userId_idx" ON "WebsiteKnowledgeChunk"("userId" ASC);

-- CreateIndex
CREATE INDEX "WebsitePage_userId_idx" ON "WebsitePage"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "WebsitePage_userId_url_key" ON "WebsitePage"("userId" ASC, "url" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "WhatsAppAccount_userId_key" ON "WhatsAppAccount"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "WhatsAppAccount_wabaId_key" ON "WhatsAppAccount"("wabaId" ASC);

-- CreateIndex
CREATE INDEX "WooCommerceStore_userId_idx" ON "WooCommerceStore"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "WooCommerceStore_userId_key" ON "WooCommerceStore"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "developer_api_keys_keyHash_key" ON "developer_api_keys"("keyHash" ASC);

-- CreateIndex
CREATE INDEX "developer_api_keys_projectId_idx" ON "developer_api_keys"("projectId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "developer_meta_connections_projectId_key" ON "developer_meta_connections"("projectId" ASC);

-- CreateIndex
CREATE INDEX "developer_notifications_developerId_createdAt_idx" ON "developer_notifications"("developerId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "developer_notifications_developerId_isRead_createdAt_idx" ON "developer_notifications"("developerId" ASC, "isRead" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "developer_otp_templates_projectId_idx" ON "developer_otp_templates"("projectId" ASC);

-- CreateIndex
CREATE INDEX "developer_password_reset_tokens_developerId_idx" ON "developer_password_reset_tokens"("developerId" ASC);

-- CreateIndex
CREATE INDEX "developer_password_reset_tokens_token_idx" ON "developer_password_reset_tokens"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "developer_password_reset_tokens_token_key" ON "developer_password_reset_tokens"("token" ASC);

-- CreateIndex
CREATE INDEX "developer_project_invites_email_status_idx" ON "developer_project_invites"("email" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "developer_project_invites_projectId_status_idx" ON "developer_project_invites"("projectId" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "developer_projects_developerId_idx" ON "developer_projects"("developerId" ASC);

-- CreateIndex
CREATE INDEX "developer_projects_ownerId_idx" ON "developer_projects"("ownerId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "developer_users_email_key" ON "developer_users"("email" ASC);

-- CreateIndex
CREATE INDEX "otp_logs_developerId_createdAt_idx" ON "otp_logs"("developerId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "otp_logs_phone_developerId_idx" ON "otp_logs"("phone" ASC, "developerId" ASC);

-- CreateIndex
CREATE INDEX "otp_logs_projectId_createdAt_idx" ON "otp_logs"("projectId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "otp_logs_status_idx" ON "otp_logs"("status" ASC);

-- CreateIndex
CREATE INDEX "otp_logs_token_idx" ON "otp_logs"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "otp_logs_token_key" ON "otp_logs"("token" ASC);

-- AddForeignKey
ALTER TABLE "AIAgent" ADD CONSTRAINT "AIAgent_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIGuardrail" ADD CONSTRAINT "AIGuardrail_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Affiliate" ADD CONSTRAINT "Affiliate_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentTrainingRule" ADD CONSTRAINT "AgentTrainingRule_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "Contact"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentTrainingRule" ADD CONSTRAINT "AgentTrainingRule_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Audience" ADD CONSTRAINT "Audience_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationAnalytics" ADD CONSTRAINT "AutomationAnalytics_aiAgentId_fkey" FOREIGN KEY ("aiAgentId") REFERENCES "AIAgent"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationAnalytics" ADD CONSTRAINT "AutomationAnalytics_automationRuleId_fkey" FOREIGN KEY ("automationRuleId") REFERENCES "AutomationRule"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationAnalytics" ADD CONSTRAINT "AutomationAnalytics_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationInteraction" ADD CONSTRAINT "AutomationInteraction_automationRuleId_fkey" FOREIGN KEY ("automationRuleId") REFERENCES "AutomationRule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationInteraction" ADD CONSTRAINT "AutomationInteraction_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "Contact"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationInteraction" ADD CONSTRAINT "AutomationInteraction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationInteraction" ADD CONSTRAINT "AutomationInteraction_whatsappAccountId_fkey" FOREIGN KEY ("whatsappAccountId") REFERENCES "WhatsAppAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationRule" ADD CONSTRAINT "AutomationRule_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "Template"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AutomationRule" ADD CONSTRAINT "AutomationRule_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BrandFAQ" ADD CONSTRAINT "BrandFAQ_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BrandPolicy" ADD CONSTRAINT "BrandPolicy_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Campaign" ADD CONSTRAINT "Campaign_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "Template"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Campaign" ADD CONSTRAINT "Campaign_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CampaignFollowUpRecord" ADD CONSTRAINT "CampaignFollowUpRecord_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CampaignFollowUpSetting" ADD CONSTRAINT "CampaignFollowUpSetting_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "Template"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CampaignFollowUpSetting" ADD CONSTRAINT "CampaignFollowUpSetting_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CampaignOrder" ADD CONSTRAINT "CampaignOrder_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES "Campaign"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CampaignOrder" ADD CONSTRAINT "CampaignOrder_storeOrderId_fkey" FOREIGN KEY ("storeOrderId") REFERENCES "StoreOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contact" ADD CONSTRAINT "Contact_assignedToUserId_fkey" FOREIGN KEY ("assignedToUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contact" ADD CONSTRAINT "Contact_audienceId_fkey" FOREIGN KEY ("audienceId") REFERENCES "Audience"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contact" ADD CONSTRAINT "Contact_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerIssue" ADD CONSTRAINT "CustomerIssue_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomerServiceSettings" ADD CONSTRAINT "CustomerServiceSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EasyOrdersStore" ADD CONSTRAINT "EasyOrdersStore_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmailVerificationToken" ADD CONSTRAINT "EmailVerificationToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GoogleSheetsConnection" ADD CONSTRAINT "GoogleSheetsConnection_audienceId_fkey" FOREIGN KEY ("audienceId") REFERENCES "Audience"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GoogleSheetsConnection" ADD CONSTRAINT "GoogleSheetsConnection_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_automationRuleId_fkey" FOREIGN KEY ("automationRuleId") REFERENCES "AutomationRule"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES "Campaign"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "Contact"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_replyToMessageId_fkey" FOREIGN KEY ("replyToMessageId") REFERENCES "Message"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_senderUserId_fkey" FOREIGN KEY ("senderUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MessageQueue" ADD CONSTRAINT "MessageQueue_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MessageQueue" ADD CONSTRAINT "MessageQueue_whatsappAccountId_fkey" FOREIGN KEY ("whatsappAccountId") REFERENCES "WhatsAppAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentRequest" ADD CONSTRAINT "PaymentRequest_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentRequest" ADD CONSTRAINT "PaymentRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Product" ADD CONSTRAINT "Product_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductSyncLog" ADD CONSTRAINT "ProductSyncLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProtectionAuditLog" ADD CONSTRAINT "ProtectionAuditLog_adminUserId_fkey" FOREIGN KEY ("adminUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProtectionAuditLog" ADD CONSTRAINT "ProtectionAuditLog_claimId_fkey" FOREIGN KEY ("claimId") REFERENCES "ProtectionClaim"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProtectionClaim" ADD CONSTRAINT "ProtectionClaim_reviewedBy_fkey" FOREIGN KEY ("reviewedBy") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProtectionClaim" ADD CONSTRAINT "ProtectionClaim_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProtectionClaim" ADD CONSTRAINT "ProtectionClaim_whatsappAccountId_fkey" FOREIGN KEY ("whatsappAccountId") REFERENCES "WhatsAppAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PushSubscription" ADD CONSTRAINT "PushSubscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Referral" ADD CONSTRAINT "Referral_affiliateId_fkey" FOREIGN KEY ("affiliateId") REFERENCES "Affiliate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Referral" ADD CONSTRAINT "Referral_referredUserId_fkey" FOREIGN KEY ("referredUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReferralLedgerEntry" ADD CONSTRAINT "ReferralLedgerEntry_affiliateId_fkey" FOREIGN KEY ("affiliateId") REFERENCES "Affiliate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReferralReward" ADD CONSTRAINT "ReferralReward_affiliateId_fkey" FOREIGN KEY ("affiliateId") REFERENCES "Affiliate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReferralReward" ADD CONSTRAINT "ReferralReward_referralId_fkey" FOREIGN KEY ("referralId") REFERENCES "Referral"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReferralReward" ADD CONSTRAINT "ReferralReward_referredUserId_fkey" FOREIGN KEY ("referredUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesBehaviorSettings" ADD CONSTRAINT "SalesBehaviorSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ShopifyStore" ADD CONSTRAINT "ShopifyStore_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SmartFollowUpSetting" ADD CONSTRAINT "SmartFollowUpSetting_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreAutomation" ADD CONSTRAINT "StoreAutomation_easyOrdersStoreId_fkey" FOREIGN KEY ("easyOrdersStoreId") REFERENCES "EasyOrdersStore"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreAutomation" ADD CONSTRAINT "StoreAutomation_shopifyStoreId_fkey" FOREIGN KEY ("shopifyStoreId") REFERENCES "ShopifyStore"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreAutomation" ADD CONSTRAINT "StoreAutomation_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "Template"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreAutomation" ADD CONSTRAINT "StoreAutomation_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreAutomation" ADD CONSTRAINT "StoreAutomation_wooCommerceStoreId_fkey" FOREIGN KEY ("wooCommerceStoreId") REFERENCES "WooCommerceStore"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreOrder" ADD CONSTRAINT "StoreOrder_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "Contact"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreOrder" ADD CONSTRAINT "StoreOrder_easyOrdersStoreId_fkey" FOREIGN KEY ("easyOrdersStoreId") REFERENCES "EasyOrdersStore"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreOrder" ADD CONSTRAINT "StoreOrder_shopifyStoreId_fkey" FOREIGN KEY ("shopifyStoreId") REFERENCES "ShopifyStore"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreOrder" ADD CONSTRAINT "StoreOrder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StoreOrder" ADD CONSTRAINT "StoreOrder_wooCommerceStoreId_fkey" FOREIGN KEY ("wooCommerceStoreId") REFERENCES "WooCommerceStore"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subscription" ADD CONSTRAINT "Subscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TeamInvitation" ADD CONSTRAINT "TeamInvitation_inviterId_fkey" FOREIGN KEY ("inviterId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Template" ADD CONSTRAINT "Template_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrackedClick" ADD CONSTRAINT "TrackedClick_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WaniPartnerCard" ADD CONSTRAINT "WaniPartnerCard_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WebsiteCrawlSettings" ADD CONSTRAINT "WebsiteCrawlSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WebsiteKnowledgeChunk" ADD CONSTRAINT "WebsiteKnowledgeChunk_pageId_fkey" FOREIGN KEY ("pageId") REFERENCES "WebsitePage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WebsitePage" ADD CONSTRAINT "WebsitePage_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WhatsAppAccount" ADD CONSTRAINT "WhatsAppAccount_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WooCommerceStore" ADD CONSTRAINT "WooCommerceStore_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_api_keys" ADD CONSTRAINT "developer_api_keys_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "developer_projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_meta_connections" ADD CONSTRAINT "developer_meta_connections_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "developer_projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_notifications" ADD CONSTRAINT "developer_notifications_developerId_fkey" FOREIGN KEY ("developerId") REFERENCES "developer_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_otp_templates" ADD CONSTRAINT "developer_otp_templates_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "developer_projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_password_reset_tokens" ADD CONSTRAINT "developer_password_reset_tokens_developerId_fkey" FOREIGN KEY ("developerId") REFERENCES "developer_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_project_invites" ADD CONSTRAINT "developer_project_invites_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "developer_projects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_projects" ADD CONSTRAINT "developer_projects_developerId_fkey" FOREIGN KEY ("developerId") REFERENCES "developer_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "developer_projects" ADD CONSTRAINT "developer_projects_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "developer_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "otp_logs" ADD CONSTRAINT "otp_logs_developerId_fkey" FOREIGN KEY ("developerId") REFERENCES "developer_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

